body{
	background-color: #112132;
}

.header{
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	background-color:black;
	color:white;
	height: 40px;
}

.header_center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_section{
	font-size: 15px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	
}


.body_section{

}


.body_part_left{
	height: 150px;
	width: 60%;
	float:left;
}

.body_part_left_content{
	color:white;
	text-align: center;
}

.body_part_right{
	height: 150px;
	width: 39.5%;
	margin-left: 0.5%;
	background-color: #13273a;
	float:left;
}

.body_part_right_content{
	color:white;
	text-align: center;
}


.start_button{
	background-color: white;
	width: 35%;
	margin: 0 auto;
	height:150px;
	border: none;
	font-size: 30px;
	color:#4682B4;
	transition-duration: 1s;
	margin-top: 10%;
}


.start_button:hover{
	background-color:#4682B4;
	width: 35%;
	margin: 0 auto;
	height:150px;
	border: none;
	font-size: 30px;
	color: white;
	margin-top: 10%;
}

.frame{
	display: block;
}


.close_button{
	background-color: white;
	width: 93%;
	height:50px;
	border: none;
	font-size: 30px;
	color:#4682B4;
	transition-duration: 1s;
	margin-top: -18px;
	float:left;
	margin-left: 10px; 
}