<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/challenges.css') }}">
	<title></title>
</head>

<body>

	<div class='header'>

		<div class='header_center'>
			<div class='header_section' onclick="location.href='/';">
				Home
			</div>	
			<div class='header_section' onclick="location.href='/challenges';">
				Challenges
			</div>	
			<div class='header_section' onclick="location.href='/logout';">
				Logout
			</div>	
		</div>
	</div>


	<div class='body_section'>

		

		<div class='body_part_left' id='ctfs'>
			<div class='body_part_left_content' onclick="getCategoryDetails('Forensics')">
				Forensics
			</div>
			<div class='body_part_left_content' onclick="getCategoryDetails('Cryptography')">
				Cryptography
			</div>
			<div class='body_part_left_content' onclick="getCategoryDetails('Reversing')">
				Reversing
			</div>
			<div class='body_part_left_content' onclick="getCategoryDetails('Pwn')">
				Pwn
			</div>
			<div class='body_part_left_content' onclick="getCategoryDetails('Networking')">
				Networking
			</div>
			<div class='body_part_left_content' onclick="getCategoryDetails('Web')">
				Web
			</div>
		</div>

		<div class='body_part_left_menu' onclick="openMenu()" id='menu'>
			&nbsp
		</div>
		<div class='body_part_right' id="content">
			<div class='body_part_right_content' id='body_part_right_content'>

			</div>
		</div>


		<div class='modal' id="Modal">
			
		</div>
	</div>

</body>
</html>


<script>
	function openMenu(){
		document.getElementById("menu").style.display="none";
		document.getElementById("ctfs").style.transitionDuration ="1s";
		document.getElementById("ctfs").style.display="block";
		document.getElementById("content").style.width="80%";
	}
</script>


<script>
	function getCategoryDetails(Category){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var response = this.responseText;
				
				var part1 = response.split("~")[0];
				var part2 = response.split("~")[1].split("|");

				var challenges=part1.split("^");
				var continut="";
				continut+="<form action=\"/submitFlag\" method=\"POST\">\
				<input type=\"text\" id=\"flag\" name=\"flag\">\
				<input type=\"submit\" value=\"Submit\">\
				</form>";
				for(var i=0;i<challenges.length;i++){
					challenges[i]=challenges[i].split("|");
					if (part2.indexOf(challenges[i][0]) == -1)
						continut+="<div class='body_part_right_content_box_lower'>\n";
					if (part2.indexOf(challenges[i][0]) != -1)
						continut+="<div class='body_part_right_content_box_lower_solved'>\n";
					continut+="&nbsp;\n";
					for(var j=0;j<challenges[i].length-1;j++){
						continut+="<div class='body_part_right_content_box_part_lower'>\n";
						continut+=challenges[i][j];
						continut+="</div>\n";
					}
			  		//continut+="<a href=\"/"+challenges[i][5]+"\" target=\"blank\"><button class='clickbutton';\"><img src=\"{{url_for('static', filename='images/play2.svg', width=100)}}\" /></button></a>\n<br>\n";
			  		continut+="<button class='clickbutton' onclick=\"modal('"+challenges[i][0]+"')\">\
			  		<img src=\"{{url_for('static', filename='images/play2.svg')}}\" />\
			  		</button>\
			  		\n<br>\n";
					continut+="</div>\n";
				}
				document.getElementById("body_part_right_content").innerHTML=continut;
			}
		};
		xhttp.open("POST", "/getCategoryDetails", true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send("Category="+Category);

	}
</script>



<script>
	var Mod = 0;
	function modal(Challenge) {
		if (Mod == 0){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var response = this.responseText.split("|");
				var contentModal="<div class='modal_close'>\
				<button class='xbutton' onclick=\"modal('None')\">X</button>\
				</div>\
				<div class='modal_details'>\
					Name: "+response[0]+"\
				<br></div>\
				<div class='modal_details'>\
					Points:"+response[1]+"\
				<br></div>\
				<div class='modal_details'>\
					Description:"+response[2]+"\
				<br></div>\
				<div class='modal_details'>\
					DOWNLOAD: <a href=\"/"+response[3]+"\" target=\"blank\">HERE</a>\
				<br>\
				</div>"
				document.getElementById("Modal").innerHTML=contentModal;
			}
		};
		xhttp.open("POST", "/getChallengeDetails", true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send("Challenge="+Challenge);
			Mod = 1;
			document.getElementById("Modal").style.display="block";
		}
		else if (Mod == 1){
			Mod = 0;
			document.getElementById("Modal").style.display="none";
		}
	}

</script>