<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<title></title>
</head>

<body>

	<div class='header'>

		<div class='header_center'>
			<div class='header_section' onclick="location.href='/';">
				Home
			</div>	
			<div class='header_section' onclick="location.href='/challenges';">
				Challenges
			</div>	
			<div class='header_section' onclick="location.href='/profile';">
				Profile
			</div>	
			<div class='header_section' onclick="location.href='/scoreboard';">
				Scoreboard
			</div>	
			<div class='header_section' onclick="location.href='/logout';">
				Logout
			</div>	
		</div>
	</div>


	<div class='body_section'>

		<div class='body_part_left'>
			<div class='body_part_left_content'>
				Working..
			</div>
		</div>

		<div class='body_part_right'>
			<div class='body_part_right_content'>
				Working..
			</div>
		</div>

	</div>

</body>
</html>